.article_container_beneficios {
    margin-top: 90px;
  }
  
  .columns-container {
    display: flex;
    flex-direction: row;
  }
  
  .beneficios-col_1 {
    width: 25%;
    padding: 7.5px;
  }
  
  .beneficios-col_2 {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 7.5px;
  }
  
  .beneficios-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    figure {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 65%;
        height: 65%;
      }
  
      .beneficios-container_recursos {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 103, 123, 0.6);
        opacity: 0;
        visibility: hidden;
        text-align: center;
      }
  
      &:hover > .beneficios-container_recursos {
        opacity: 1;
        visibility: visible;
        transition: all 500ms ease-out;
  
        p {
          margin-top: 70px;
          margin-bottom: 15px;
          transition: all 500ms ease-out;
        }
      }
    }
  }