.contacto-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(90deg, $secondary 30%, $perso1);
    margin-top: 90px;
  }
  
  .form-title {
    display: flex;
    justify-content: center;
    
      h3{
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-family: raleway;
        font-weight: 600;
        margin:20px;
      }
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
  }
  
  .formulario {
    width: 50%;
  
    ul {
      list-style-type: none;
    }
  }
  
  .contacto-style {
    width: 100%;
  }