.header_container {
    height: 650px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url("../recursos/imgs/Portada_ppal_Lubara.webp");
    background-size: cover;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .titulo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  
  .typewriter-text {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  
  

  .titulo-principal{
    font-size: 25px;
    color: #ffffff;
    line-height: 55px;
    margin-left: -50px;
    font-weight:bolder!important;
    
      .pasion-principal{
      font-size: 30px;
      text-transform: uppercase;
    }
      .typing-effect {
      background-color: #eead8d;
      font-size: 30px !important;
      text-transform: uppercase;
    }
}


  
  @keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
  
    50% {
      border-color: #ffffff;
    }
  }
  