.main-style {
    background-color: $primary;
    font-family: 'Raleway', sans-serif;
  }

  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
  }
.article_container {
    width: 75%;
    margin: auto;
    margin-top: 90px;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  .article_titulo {
    margin: 90px 0 20px 0;
  
    h2 {
      font-weight: 200;
      text-transform: uppercase;
      font-size: 16px;
      margin-left: 24px;
    }
  }
  