//header
@media (max-width: 750px){
        .titulo-container{
            display: flex;
            flex-wrap: wrap;
        }
    .titulo-principal{
        font-size: 20px;
        color: #ffffff;
        line-height: 55px;
        font-weight:bolder!important;
        margin: auto;
        
          .pasion-principal{
          font-size: 20px;
          text-transform: uppercase;
        }
          .typing-effect {
          background-color: #eead8d;
          font-size: 20px !important;
          text-transform: uppercase;
        }
    }
}



// servicios
@media (max-width: 1100px){
    .servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .servicios_soluciones{
        text-align: center;
    }
    .servicios-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 100%;
        
            .servicios-container_soluciones{
                width: 85%;
                margin: auto;
                margin-top: 15px;
                flex-wrap: wrap;
            }
    }
}
//servicios

//beneficios
@media(max-width: 800px){
    .columns-container{
        flex-direction: column;
        
        .beneficios-col_1{
            width: 100%;
        }
        .beneficios-col_2{
            width: 100%;
        }
    }
}
//beneficios

//packs
@media(max-width: 1400px){
     .pack_container{
         display: none;
     }
    
}

@media(min-width: 1400px){
    .pack_container-mobile{
        display: none;
    }  
}
//packs

// nosotros
    @media (max-width: 900px){
        .nosotros{
            display: flex;
            justify-content: center;
            flex-direction: column;

            .nosotros-col_container{
                flex-direction: column;
            }
                .nosotros-img_container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 10px 0
                }
                .nosotros-p_container{
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    width: 85%;
                    text-align: justify;
                }
        }
        
    }
//nosotros

// contacto
@media( max-width: 400px){
    .footer-container{
        display: grid;
        grid-template-areas: "a a a a b b b" "d d d d d d d""c c c c c c c";
            .footer_logo{
                grid-area: a;
            }
            .footer_contacto{
                grid-area: d;
            }
            .footer_redes{
                grid-area: b;
            }
            .footer_links{
                grid-area: c;
                flex-direction: column;
                margin: auto;
                    a{
                        margin-top: 10px;
                    }
        }   
    }
}

// PAGINA EMPRENDEDOR
@media (max-width: 780px){
  .nav-principal {
    display: none;
  }

  .menu-hamburguesa {
    display: block;
  }
}

@media (max-width: 480px) {
    
  
    main {
      width: 100vw;
    }
  
    .header_container {
      height: 350px;
    }
  
    .article_container {
      width: 100%;
      padding: 0 10px 0 10px;
    }
  
    .servicios {
      display: flex;
      flex-direction: column;
    }
  
    .columns-container {
      flex-direction: column;
    }
  
    .beneficios-col_1 {
      width: 100%;
    }
  
    .beneficios-col_2 {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .pack_container {
      flex-direction: column;
      width: 100%;
    }
  
    .nosotros-col_container {
      flex-direction: column;
    }
  
    .nosotros-img_container, .nosotros-p_container {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  
    .formulario {
      width: 80%;
    }
  
    .form-container {
      width: 100%;
    }
  
}


//COMIENZO DE PAGINA EMPRENDEDOR

@media (max-width: 1450px){
  .presentacion-servicios{
    width: 85%;
    margin-bottom: -60px;
  }
  .tarjetas{
    background: none;
    flex-direction: column;
    height: 1700px;

    .tarjeta-mobile{
      background: linear-gradient(180deg, $secondary, $perso1 100%);
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .tarjetas-container{
      flex-direction: column;
      .tarjeta-mobile{
        margin-top: 30px;
      }
    }
  }
  
  .paso-img_container{
    display: none;
  }
}
@media(min-width:1450px){
  .trabajo-mobile{
    display: none;
  }
}
@media (max-width: 480px) {
  .nav-principal {
    display: none;
  }

  .menu-hamburguesa {
    display: block;
  }

  main {
    width: 100vw;
  }

  .header_container {
    height: 350px;
  }

  .article_container {
    width: 100%;
    padding: 0 10px 0 10px;
  }

  .servicios {
    display: flex;
    flex-direction: column;
  }

  .columns-container {
    flex-direction: column;
  }

  .beneficios-col_1 {
    width: 100%;
  }

  .beneficios-col_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .pack_container {
    flex-direction: column;
    width: 100%;
  }

  .nosotros-col_container {
    flex-direction: column;
  }

  .nosotros-img_container, .nosotros-p_container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .formulario {
    width: 80%;
  }

  .form-container {
    width: 100%;
  }
}