.pack_container {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    
    .packs-right {
      background: linear-gradient(180deg, $secondary, $perso1 100%);
      padding: 29px;
      display: grid;
      grid-template-areas: "a a a a b b b b" "c c c c c c c c";
      align-items: center;
      justify-items: center;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      border-radius: 25px;
      column-gap: 20px;
      height: 700px;


        .packs-decoration{
          background-color: #FFFFFF85;
          padding: 23px;
          border-radius: 25px;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        }
        
        .packs-right_1 {
          grid-area: a;
          width: 100%;
          height: 350px;
          
      }
      
        .packs-right_2 {
          grid-area: b;
          width: 100%;
          height: 350px;
          
      }
      
      .medida-textos_container{
        height: 100%;
      }
      .right-pcontainer{
        height: 100%;
      }
        .packs-right_3 {
          grid-area: c;
          width: 100%;
          margin-top: 20px;
          height: 250px;
      }

        .medida-textos_container{
          display: flex;
          flex-direction: column;
	        color: #000000;
        }
        .medida-textos_container-personalizado{
          height: 100px;
          margin-bottom: 20px;
          width: 100%;
        }
        .pack-titulo{
          text-align: center;
        }
          .pack-titulo_span{
            text-transform: uppercase;
            font-weight: 600;
            margin:0px;
            font-family: raleway;
            line-height: 100%;
            margin-bottom:10px;
          }
          .medida-textos_p{
            font-family: raleway;
            color: #000000;
            line-height: 30px;
            margin: 0;
            padding: 0;
          }
    }
  }
  
  .boton{
    border: solid 3px #F0834D;
    color: #F0834D;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 15px;
    font-weight: 500;
}
.boton:hover{
    color: #ffffff;
    background-color: #F0834D;
}

.boton-container{
  text-align: center;

  
}

.boton-container_personalizado{
  margin-top: 40px;
}
.boton-presupuesto{
  border: solid 3px #F0834D;
  color: #ffffff;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 15px;
  background-color: #F0834D;
  font-weight: 500;
  &:hover{
    color:#ffffff;
  }
}


  
.packs-right_mobile{
  background: linear-gradient(180deg, $secondary, $perso1 100%);
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;

  .packs-decoration{
    padding: 23px;
    background-color: #FFFFFF78;
    margin: 15px 13px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 25px;
  }
  .pack-titulo{
    text-align: center;
  }
    .pack-titulo_span{
      text-transform: uppercase;
      font-weight: 600;
      margin:0px;
      font-family: raleway;
      line-height: 100%;
      margin-bottom:10px;
    }
    .medida-textos_p{
      font-family: raleway;
      color: #000000;
      line-height: 30px;
      margin: 0;
      padding: 0;
    }
}

.portfolio{
  margin-top: 90px;
}