.pack_container {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
  }
  
  .packs-right {
    background: linear-gradient(180deg, $secondary, $perso1 100%);
    padding: 29px;
    display: grid;
    grid-template-areas: "a a a a b b b b" "c c c c c c c c";
    align-items: center;
    justify-items: center;
  }
  
  .packs-right_1 {
    grid-area: a;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF85;
  }
  
  .packs-right_2 {
    grid-area: b;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF85;
  }
  
  .packs-right_3 {
    grid-area: c;
    width: 50%;
    background-color: #FFFFFF85;
  }
  