.personalizado-h1{
    font-size: 24px!important;
    font-weight: 600!important;
    font-family: raleway!important;
    padding-left: 15px;
}
.personalizado-text{
    text-align: justify!important;
    font-family: raleway;
    font-size: 16px;
    padding: 15px 15px 0 15px;
          line-height: 30px;
}
.personalizado-bold{
    font-weight: 500;
}