:root{
    --primary: #ededed;
    --secondary: #eead8d;
    --perso: #f0834d;
    --perso1: #9284b8;
    --text: #000000;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color: var(--primary);
    font-family: 'Raleway', sans-serif;
}

.header_container{
    height: 650px;
    width: 100vw;
    display:flex;
    flex-direction:column;
    background-image: url("../recursos/imgs/Portada_ppal_Lubara.webp");
    background-size: cover;
    
}

.header{
    margin: auto;
}

.title_principal{
    color: #ffffff
}

main{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    
}

.article_container{
    width: 75%;
    margin: auto;
    margin-top: 90px;
}

img{
    width: 100px;
    height: 100px
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--perso) 30%, var(--perso1) );
    height: 100px;
}
.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_nav{
    height: 55px;
    
}

.menu{
    display: flex;
    width: 80%;
}

.menu_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

.menu-list_drop{
    list-style-type: none;
    display: none;
    position: absolute;
    background: rgb(151,104,126);
    background: linear-gradient(90deg, rgba(151,104,126,1) 11%, rgba(130,98,137,1) 81%);
    width: 220px;
    padding: 20px;
}

.menu-list_drop li{
    padding: 10px;
}

.menu-li_drop:hover .menu-list_drop{
    display: block;
}


.menu-li_a{
    color: #ffffff;
    text-decoration: none;
}

.menu-li{
    display: inline-block;
    padding: 50px;
    
}

.article_titulo{
    margin: 90px 0 20px 0;
}

.article_titulo h2{
    color: red;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 24px;
}

.article_container_beneficios{
    margin-top: 90px
}

.servicios{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.servicios_soluciones h3{
    color: #000000;
    font-size: 25px;
    font-weight: 600;

}

.servicios-container_soluciones h4{
    color: #000000;
    text-align: center;
    margin:0;
    padding:0;
    font-weight: 600;
    margin-bottom:10px;
}

.servicios-container_soluciones p {
    text-align: center;
    color:#000000;
    margin:0;
    padding:0;
    line-height:30px;
}

.servicios-container_soluciones{
    background-color: #FFFFFFA6;
    margin: 0 5px 0 5px;
    padding: 25px;
    border-radius: 30px;
    max-width: 230px;
}

.columns-container{
    display: flex;
    flex-direction: row;
    
    
}

.beneficios-col_1{
    width: 25%;
    padding: 7.5px;
   
}

.beneficios-col_2{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding:7.5px
}

.beneficios-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.beneficios-container figure{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beneficios-container figure img{
    width: 65%;
    height: 65%;
    
}

.beneficios-container figure .beneficios-container_recursos{
    position: absolute;
    top: 0;
    width: 100%;;
    height: 100%;
    background: rgba(0, 103, 123, 0.6);
    opacity: 0;
    visibility: hidden;
    text-align: center;;

}
.beneficios-container figure:hover > .beneficios-container_recursos{
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease-out;
}

.beneficios-container figure:hover > .beneficios-container_recursos p{
    margin-top: 70px;
    margin-bottom: 15px;
    transition: all 500ms ease-out;
}

.pack_container{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}



.packs-right{
    background: linear-gradient(180deg, var(--perso) 30%, var(--perso1) );
    display: grid;
    grid-template-areas: 
    "a a a a b b b b"
    "c c c c c c c c";
    align-items: center;
    justify-items: center;
}

.packs-right_1{
    grid-area: a;
    width: 50%;
    height: 100%;
}

.packs-right_2{
    grid-area: b;
    width: 100%;
    height: 100%;
}
.packs-right_3{
    grid-area: c;
    width: 50%;
    
}

.foto-slide1{
    width: 100%;
    height: 100%
}
.carousel-lubara{
    width: 75%;
    margin: auto
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: var(--perso1)
}

.nosotros{
    margin-top: 90px
}

.nosotros-col_container{
    display: flex;
    flex-direction: row;
}
.nosotros-img_container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotros-p_container{
    width: 60%;
}

.contacto-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(90deg, var(--secondary) 30%, var(--perso1) );
    margin-top:  90px;;
}
.form-title{
    display:flex;
    justify-content: center;
}
.form-container{
    display:flex;
    justify-content: center;
    margin: auto;
    width: 75%;
}
.formulario{
    width: 50%
}
.formulario ul{
    list-style-type: none;
}
.contacto-style{
    width: 100%
}

.footer-container{
    display: grid;
    grid-template-areas: 
    "d d d e e e f f f"
    "g g g g g g g g g";
    justify-content: center;
    margin-top: 40px;
}

.footer_logo{
    grid-area: d
}

.footer_contacto{
    grid-area: e;
}

.footer_redes{
    grid-area: f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_links{
    grid-area: g;
    display: flex;
    justify-content: space-between;

}

.menu-hamburguesa{
    display: none;
}
.navbar-eze{
    background: linear-gradient(90deg, var(--perso) 30%, var(--perso1) );
    
}
.menu-mobile,
.menu-mobile_secondary{
    list-style: none;
    
}
.menu-mobile a{
    color: #ffffff;
    text-decoration: none
}
.menu-mobile a:hover{
    text-decoration: underline;
}


/* PAGINA EMPRENDEDOR */
.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(90deg, var(--perso) 30%, var(--perso1) );
    border-radius: 10px;
}

.tarjeta{
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 90%;
}
.paso-img{
    width: 50%;
    height: 70%;
}
.paso-img_container{
    text-align: center;
}
@media (max-width: 480px){
    .nav-principal{
        display: none
    }
    .menu-hamburguesa{
        display: block
    }
    main{
        width: 100vw;
    }
    .header_container{
        height: 350px;   
    }
    .article_container{
        width: 100%;
        padding: 0 10px 0 10px
    }
    .servicios{
        display: flex;
        flex-direction: column;
    }
    .columns-container{
        flex-direction:column
    }
    .beneficios-col_1{
        width: 100%;
       
    }
    
    .beneficios-col_2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .pack_container{
        flex-direction: column;
        width: 100%;
    }
    .nosotros-col_container{
        flex-direction: column;
    }
    .nosotros-img_container,
    .nosotros-p_container{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .formulario{
        width: 80%
    }
    .form-container{
        width: 100%;
    }
    /* PAGINA EMPRENDEDOR */
    .tarjetas{
        display: flex;
        flex-direction: column;
        margin: 10px;
        background: none;
    }
    .tarjeta-mobile{
        margin-top: 10px;
        background: linear-gradient(90deg, var(--perso) 30%, var(--perso1) );
        border-radius: 10px;
    }
    .paso-img{
        width: 100%;
        height: 100%
    }
}