* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 !important;
}

.header_container {
  height: 650px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url("../recursos/imgs/Portada_ppal_Lubara.webp");
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.typewriter-text {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

.titulo-principal {
  font-size: 25px;
  color: #ffffff;
  line-height: 55px;
  margin-left: -50px;
  font-weight: bolder !important;
}
.titulo-principal .pasion-principal {
  font-size: 30px;
  text-transform: uppercase;
}
.titulo-principal .typing-effect {
  background-color: #eead8d;
  font-size: 30px !important;
  text-transform: uppercase;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}
.nav-principal {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #f0834d 30%, #9284b8);
  height: 100px;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_nav {
  height: 55px;
}

.menu {
  display: flex;
  width: 80%;
}

.menu_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.menu-list_drop {
  list-style-type: none;
  display: none;
  position: absolute;
  background: rgb(151, 104, 126);
  background: linear-gradient(90deg, rgb(151, 104, 126) 11%, rgb(130, 98, 137) 81%);
  width: 220px;
  padding: 20px;
}
.menu-list_drop li {
  padding: 10px;
}

.menu-li_drop:hover .menu-list_drop {
  display: block;
}

.menu-li_a {
  color: #ffffff;
  text-decoration: none;
}

.menu-li {
  display: inline-block;
  padding: 50px;
}

.menu-hamburguesa {
  display: none;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.navbar-eze {
  background: linear-gradient(90deg, #f0834d 30%, #9284b8);
}

.menu-mobile, .menu-mobile_secondary {
  list-style: none;
}

.menu-mobile a {
  color: #ffffff;
  text-decoration: none;
}
.menu-mobile a:hover {
  text-decoration: underline;
}

.menu_list-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
}

.menu-li_mobile {
  margin: 10px !important;
  padding: 0;
}

.nav-toggler_eze {
  margin-right: 20px;
}

.main-style {
  background-color: #ededed;
  font-family: "Raleway", sans-serif;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75vw;
}

.article_container {
  width: 75%;
  margin: auto;
  margin-top: 90px;
}

img {
  width: 100px;
  height: 100px;
}

.article_titulo {
  margin: 90px 0 20px 0;
}
.article_titulo h2 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 24px;
}

.servicios {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.servicios_soluciones h3 {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
}

.servicios-right {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.servicios-right .servicios-container_soluciones {
  background-color: white;
  opacity: 3;
  margin: 0 5px 0 5px;
  padding: 25px;
  border-radius: 30px;
  width: 300px;
}
.servicios-right .servicios-container_soluciones h4 {
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 600;
  margin-bottom: 10px;
}
.servicios-right .servicios-container_soluciones p {
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.article_container_beneficios {
  margin-top: 90px;
}

.columns-container {
  display: flex;
  flex-direction: row;
}

.beneficios-col_1 {
  width: 25%;
  padding: 7.5px;
}

.beneficios-col_2 {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 7.5px;
}

.beneficios-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.beneficios-container .beneficios-img {
  max-height: 200px;
  max-width: 200px;
}
.beneficios-container figure {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.beneficios-container figure img {
  width: 65%;
  height: 65%;
}
.beneficios-container figure .beneficios-container_recursos {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0.6);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.beneficios-container figure:hover > .beneficios-container_recursos {
  opacity: 1;
  visibility: visible;
  transition: all 500ms ease-out;
}
.beneficios-container figure:hover > .beneficios-container_recursos p {
  margin-top: 70px;
  margin-bottom: 15px;
  transition: all 500ms ease-out;
}

.pack_container {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
}
.pack_container .packs-right {
  background: linear-gradient(180deg, #eead8d, #9284b8 100%);
  padding: 29px;
  display: grid;
  grid-template-areas: "a a a a b b b b" "c c c c c c c c";
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 600px;
}
.pack_container .packs-right .packs-decoration {
  background-color: rgba(255, 255, 255, 0.5215686275);
  padding: 23px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.pack_container .packs-right .packs-right_1 {
  grid-area: a;
  width: 100%;
  height: 100%;
}
.pack_container .packs-right .packs-right_2 {
  grid-area: b;
  width: 100%;
  height: 100%;
}
.pack_container .packs-right .packs-right_3 {
  grid-area: c;
  width: 100%;
  margin-top: 20px;
  height: 200px;
}
.pack_container .packs-right .medida-textos_container {
  display: flex;
  flex-direction: column;
  height: 230px;
  color: #000000;
}
.pack_container .packs-right .medida-textos_container-personalizado {
  height: 100px;
  margin-bottom: 20px;
  width: 100%;
}
.pack_container .packs-right .pack-titulo {
  text-align: center;
}
.pack_container .packs-right .pack-titulo_span {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0px;
  font-family: raleway;
  line-height: 100%;
  margin-bottom: 10px;
}
.pack_container .packs-right .medida-textos_p {
  font-family: raleway;
  color: #000000;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.boton {
  border: solid 3px #F0834D;
  color: #F0834D;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 15px;
  font-weight: 500;
}

.boton:hover {
  color: #ffffff;
  background-color: #F0834D;
}

.boton-container {
  text-align: center;
}

.boton-presupuesto {
  border: solid 3px #F0834D;
  color: #ffffff;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 15px;
  background-color: #F0834D;
  font-weight: 500;
}
.boton-presupuesto:hover {
  color: #ffffff;
}

.packs-right_mobile {
  background: linear-gradient(180deg, #eead8d, #9284b8 100%);
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
}
.packs-right_mobile .packs-decoration {
  padding: 23px;
  background-color: rgba(255, 255, 255, 0.4705882353);
  margin: 15px 13px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #9284b8;
}

.nosotros {
  margin-top: 90px;
}

.nosotros-col_container {
  display: flex;
  flex-direction: row;
}

.nosotros-img_container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-p_container {
  width: 60%;
}

.contacto-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background: linear-gradient(90deg, #eead8d 30%, #9284b8);
  margin-top: 90px;
}

.form-title {
  display: flex;
  justify-content: center;
}
.form-title h3 {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-family: raleway;
  font-weight: 600;
  margin: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
}

.formulario {
  width: 50%;
}
.formulario ul {
  list-style-type: none;
}

.contacto-style {
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-areas: "d d d e e e f f f" "g g g g g g g g g";
  justify-content: center;
  margin-top: 40px;
}

.footer_logo {
  grid-area: d;
}

.footer_contacto {
  grid-area: e;
}

.footer_redes {
  grid-area: f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_redes .contact-icon {
  margin: 20px;
}

.footer_links {
  grid-area: g;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
.footer_links a {
  color: #B3B2B2;
  font-weight: 500;
  text-decoration: none;
}
.footer_links a:hover {
  color: #000000;
}

.presentacion-servicios {
  width: 70%;
  margin: auto;
  margin-bottom: -60px;
}
.presentacion-servicios h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: raleway;
  padding-left: 15px;
  color: #000000;
}
.presentacion-servicios p {
  text-align: justify !important;
  font-family: raleway;
  font-size: 16px;
  padding: 15px 15px 0 15px;
  color: #000000;
  line-height: 30px;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(180deg, #eead8d, #9284b8 100%);
  border-radius: 10px;
  width: 80%;
  margin: auto;
  height: 500px;
  margin-bottom: 45px;
}
.tarjetas .tarjetas-container {
  display: flex;
}
.tarjetas .tarjeta-mobile {
  width: 100%;
  height: 500px;
}
.tarjetas .tarjeta {
  background-color: rgba(255, 255, 255, 0.5215686275);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  height: 90%;
  width: 90%;
  flex-wrap: wrap;
}
.tarjetas .tarjeta-p1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tarjetas .tarjeta-p1 .lista {
  height: 350px;
}
.tarjetas .tarjeta-p1 .lista h3 {
  font-family: "Comfortaa", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
.tarjetas .tarjeta-p1 .lista .precio {
  text-align: center;
  font-family: comfortaa;
  font-size: 45px !important;
  color: #000000;
  font-weight: 700 !important;
}
.tarjetas .tarjeta-p1 .lista .iva {
  text-align: center;
  font-family: raleway;
  font-size: 17px !important;
  color: #000000;
  font-weight: 300 !important;
  padding: 0;
  margin: 0;
}
.tarjetas .tarjeta-p1 .boton-container_comerciante {
  align-self: flex-end;
  margin: auto;
}
.tarjetas .tarjeta-p1 .boton_comerciante {
  border: solid 3px #F0834D;
  color: #F0834D;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 15px;
  font-weight: 500;
}
.tarjetas .tarjeta-p1 .boton_comerciante:hover {
  color: #ffffff;
  background-color: #F0834D;
}
.tarjetas .tarjeta-p1 .boton_comerciante:active {
  color: #ffffff;
}
.tarjetas .tarjeta-p1 .boton_comerciante_medio {
  color: #ffffff;
  background-color: #F0834D;
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 15px;
  border: solid 3px #F0834D;
  font-weight: 500;
}
.tarjetas .tarjeta-p1 .boton_comerciante_medio:hover {
  color: #ffffff;
}

.paso-img {
  width: 50%;
  height: 70%;
}

.paso-img_container {
  text-align: center;
}

@media (max-width: 480px) {
  .nav-principal {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  main {
    width: 100vw;
  }
  .header_container {
    height: 350px;
  }
  .article_container {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  .servicios {
    display: flex;
    flex-direction: column;
  }
  .columns-container {
    flex-direction: column;
  }
  .beneficios-col_1 {
    width: 100%;
  }
  .beneficios-col_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pack_container {
    flex-direction: column;
    width: 100%;
  }
  .nosotros-col_container {
    flex-direction: column;
  }
  .nosotros-img_container, .nosotros-p_container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .formulario {
    width: 80%;
  }
  .form-container {
    width: 100%;
  }
  /* PAGINA EMPRENDEDOR */
}
@media (max-width: 750px) {
  .titulo-container {
    display: flex;
    flex-wrap: wrap;
  }
  .titulo-principal {
    font-size: 20px;
    color: #ffffff;
    line-height: 55px;
    font-weight: bolder !important;
    margin: auto;
  }
  .titulo-principal .pasion-principal {
    font-size: 20px;
    text-transform: uppercase;
  }
  .titulo-principal .typing-effect {
    background-color: #eead8d;
    font-size: 20px !important;
    text-transform: uppercase;
  }
}
@media (max-width: 1100px) {
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .servicios_soluciones {
    text-align: center;
  }
  .servicios-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .servicios-right .servicios-container_soluciones {
    width: 85%;
    margin: auto;
    margin-top: 15px;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .columns-container {
    flex-direction: column;
  }
  .columns-container .beneficios-col_1 {
    width: 100%;
  }
  .columns-container .beneficios-col_2 {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  .pack_container {
    display: none;
  }
}
@media (min-width: 1400px) {
  .pack_container-mobile {
    display: none;
  }
}
@media (max-width: 900px) {
  .nosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nosotros .nosotros-col_container {
    flex-direction: column;
  }
  .nosotros .nosotros-img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .nosotros .nosotros-p_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    text-align: justify;
  }
}
@media (max-width: 400px) {
  .footer-container {
    display: grid;
    grid-template-areas: "a a a a b b b" "d d d d d d d" "c c c c c c c";
  }
  .footer-container .footer_logo {
    grid-area: a;
  }
  .footer-container .footer_contacto {
    grid-area: d;
  }
  .footer-container .footer_redes {
    grid-area: b;
  }
  .footer-container .footer_links {
    grid-area: c;
    flex-direction: column;
    margin: auto;
  }
  .footer-container .footer_links a {
    margin-top: 10px;
  }
}
@media (max-width: 780px) {
  .nav-principal {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
}
@media (max-width: 480px) {
  main {
    width: 100vw;
  }
  .header_container {
    height: 350px;
  }
  .article_container {
    width: 100%;
    padding: 0 10px 0 10px;
  }
  .servicios {
    display: flex;
    flex-direction: column;
  }
  .columns-container {
    flex-direction: column;
  }
  .beneficios-col_1 {
    width: 100%;
  }
  .beneficios-col_2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .pack_container {
    flex-direction: column;
    width: 100%;
  }
  .nosotros-col_container {
    flex-direction: column;
  }
  .nosotros-img_container, .nosotros-p_container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .formulario {
    width: 80%;
  }
  .form-container {
    width: 100%;
  }
}
@media (max-width: 1450px) {
  .presentacion-servicios {
    width: 85%;
  }
  .tarjetas {
    background: none;
    flex-direction: column;
    height: 1700px;
  }
  .tarjetas .tarjeta-mobile {
    background: linear-gradient(180deg, #eead8d, #9284b8 100%);
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tarjetas .tarjetas-container {
    flex-direction: column;
  }
  .tarjetas .tarjetas-container .tarjeta-mobile {
    margin-top: 30px;
  }
}
.personalizado-h1 {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: raleway !important;
  padding-left: 15px;
}

.personalizado-text {
  text-align: justify !important;
  font-family: raleway;
  font-size: 16px;
  padding: 15px 15px 0 15px;
  line-height: 30px;
}

.personalizado-bold {
  font-weight: 500;
}/*# sourceMappingURL=styles.css.map */